<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRiskManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://54.243.153.217:8082/BackOffice/RiskManager.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRiskManager"
                contract="RiskManagerClient.IRiskManager" name="BasicHttpBinding_IRiskManager" />
        </client>
    </system.serviceModel>
</configuration>